.Rproj.user
.Rhistory
.RData
.Ruserdata
_site/
/.quarto/
/.output/

/.luarc.json

# Ignorar los PDF generados cuando cacheamos cosas
*/*_cache/pdf

# Ignorar las figuras en PDF generadas cuando cacheamos cosas
*/*_files/figure-pdf