
@media (min-width: 992px) {
    body.docked .page-columns {
        display: grid;
        gap: 0;
        grid-template-columns: 
            [screen-start] 1.5em 
            [screen-start-inset page-start] minmax(50px, 100px) 
            [page-start-inset] 50px 
            [body-start-outset] 50px 
            [body-start] 1.5em 
            [body-content-start] minmax(500px, calc( 1500px - 3em )) /*1500px es el maximo que va a tomar la tabla*/
            [body-content-end] 1.5em 
            [body-end] 50px 
            [body-end-outset] minmax(0px, 100px) 
            [page-end-inset] 50px 
            [page-end] 5fr 
            [screen-end-inset] 1.5em 
            [screen-end]
    }
}
