@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

/*-- scss:defaults --*/
$font-family-sans-serif:  Roboto Slab, sans-serif !default;
$font-family-serif:  Source Sans Pro, serif !default;
$presentation-font-smaller: 0.8;

/*-- scss:rules --*/
